body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #474545;

}

#root{
    margin-top: 5rem;
    width: 548.15px;
    background: #FFF7ED;
}

nav {
    background-color: #FFF7ED;
    display: flex;
    padding: 2rem 1rem 2rem 1rem;
    /* padding: 2rem; */
}

.nav-hero {
    font-style: normal;
    font-weight: 900;
    font-size: 25.3531px;
    color: #252525;
    
}

a {
    text-decoration: none;

}


.links {
    margin-left: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #4D4D4D !important;
}

.about-link{
    padding-right: 1rem;
}

footer {
    background-color: #252525;
    color: #AAAAAA;
    text-align: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}


.home{
    text-align: left;
    background-color: #AAAAAA;
    background-image: url(/images/homebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2rem;
}




.home-text, .home-sub-text{
    color: #FFFFFF;
}

.container{
    margin: 0;
    padding: 0 1.5rem 0 1.5rem;

}

.find-btn{
    width: 494.33px;
    height: 49.83px;
    background-color: #FF8C38;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15.9462px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 3rem;
    padding: 1rem 12rem 1rem 12rem;
}

.filter-btn{
    width: 104px;
    height: 37px;
    background-color: #FFEAD0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
}

.clearfilter-btn{
    width: 104px;
    height: 37px;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
}

.about{
  background: #FFF7ED;
  padding-bottom: 2rem;
}


.about-img{
    /* background-size: cover; */
    width: 100%;

}

.about-text{
    font-weight: 700;
    font-size: 32px;
}

.about-subtext{
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 16px;
}

.about-box{
    background: #FFCC8D;
    font-weight: 700;
    font-size: 24px;
    padding: .5rem 1rem 2rem 2rem;
    border-radius: .3rem;
}

.explore-btn{
    background-color: black;
    color: white;
    border-radius: .4rem;
    cursor: pointer;
    width: 174px;
    height: 49px;
    padding: 1rem;
    font-size: 15.9462px;

}

.vans{
    padding-bottom: 2rem;
}


.vans-title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: black;
    margin-bottom: 15px;
}

.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width: 991px) {
    .row{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 575px){
    .row{
        grid-template-columns: repeat(4, 1fr);
    }
}


.vans-img{
    width: 229.23px;
    height: 229.23px;
    border-radius: 5px;
}


.row-van{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5rem;
    gap: 20px;
}

@media screen and (max-width: 991px) {
    .row-van{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2rem;
    }
}

@media screen and (max-width: 575px){
    .row-van{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2rem;
    }
}


.d-flex{
    display: flex;
}

.ml-auto{
    margin-left: auto;
}

.pr-1{
    padding-right: 1rem;
}

.van-name{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.van-price{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.price-perday{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}


.vans-btn{
    width: 85.71px;
    height: 33.89px;
    background-color: #E17654;
    border: 0;
    border-radius: .3rem;
    font-weight: 300;
    font-size: 16px;
    color: white;
    cursor: pointer;

}

.van-btn{
    width: 85.71px;
    height: 33.89px;
    background-color: #E17654;
    border: 0;
    border-radius: .3rem;
    font-weight: 300;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 2rem;

}

.simple-btn{
    background-color: #E17654;
}


.rugged-btn{
    background-color: #115E59;
}

.lux-btn{
    background-color: #161616;
}


.pb-3{
    padding-bottom: 3rem;
}

.pt-3{
    padding-top: 3rem;
}

.van-img{
    width: 497.32px;
    height: 490.35px;
    margin-top: 25px;
}

.van-name{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.van-desc{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
}

.rent-btn{
    background-color: #FF8C38;
    color: white;
    padding: 1rem 0 1rem 0;
    border-radius: 4.98319px;
    text-align: center;
    width: 494.33px;
    margin: 2rem 0 5rem 0;
    font-size: 18px;
}
